body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: cursive, sans-serif;
}

#header {
  padding-bottom: 5px;
}

/** HEADER **/
#header-nav {
  background-color: #808080;  /* medium gray */
  border-radius: 0;
  border: 10px;
  border-color: black;
  vertical-align: center;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* business name */
  font-family: cursive, serif;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid white;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

#nav-list a {
  visibility: hidden;
}


/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  /* End Header */

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #nav-list a {
    color: black;
    visibility: visible;
    background-color: white;
    border: 2px solid black;
    border-color: black;
  }

  /* End Header */

}

#beef-tile, #chicken-tile, #sushi-tile {
  height: auto;
  width: 100%;
  margin-bottom: 15px;
  /*position: relative;*/
  border: 2px solid #3F0C1F;
  /*overflow: hidden;*/
  align-content: top;
  padding: 10px 10px 10px 10px;
  color: black;
  background-color: #808080;  /* medium gray */
}

#main-content p {
  color: black;
  font-size: 1.5em;
}


#protein_label {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
}